@font-face {
  font-family: JosefinSans-Bold;
  src: url(../fonts/JosefinSans-Bold.otf);
}

.navbar-call{
  
  font-family: JosefinSans-Bold;
  font-size: 16pt;
  color:white;
  text-decoration:none;
}

.navbar a:link {
  text-decoration:none;
  color: white;
}




