@font-face {
  font-family: LibreBaskerville-Bold;
  src: url(../fonts/LibreBaskerville-Bold.otf);
}


.navbar-call{
  
  font-family: LibreBaskerville-Bold;
  font-size: 16pt;
  color:white;
  text-decoration:none;
}

.navbar a:link {
  text-decoration:none;
  color: white;
}

.text-motivation{
  font-family: LibreBaskerville-Bold; 
  font-size: 24pt;
  color:white; 
  margin: 6px; 
}

