@font-face {
  font-family: GlacialIndifferenceBold;
  src: url(../fonts/GlacialIndifference-Bold.otf);
}

.text-motivation{
  font-family: GlacialIndifferenceBold; 
  font-size: 27pt;
  color:white; 

}



