@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.otf);
}

.navbar-call{
  
  font-family: Montserrat;
  font-size: 16pt;
  color:white;
  text-decoration:none;
}

.text-herramientas{
  font-family: Montserrat; 
  font-size: 20pt;
  color:white; 
  margin: 6px; 
}

.checkbox-font{
  font-family: Montserrat; 
  font-size: 12pt;
  color:white; 
}

.text-pero{
  font-family: Montserrat;
  font-size: 20pt;
  color: #5202C4;
  text-decoration:none;
}


.btn-submit-need{
  font-family: Montserrat;
  font-size: 20pt;
  text-decoration: none;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #FC6F06;
  color:white;
  
}

.btn-submit-need:hover{
  color: black;
  text-decoration: none;
}

.btn-ok:hover{
  color: black;
  text-decoration: none;
}

.btn-ok{
  font-family: Montserrat;
  font-size: 25pt;
  text-decoration: none;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #FC6F06;
  color:white;
  
}



.text-marear{
  font-family: Montserrat;
  font-size: 20pt;
  color: #FC6F06;
  text-decoration:none;
  
}

.text-enfoco{
  font-family: Montserrat;
  font-size: 16pt;
  color:white;
  text-decoration:none;
  
}

.text-necesitas{
  font-family: Montserrat;
  font-size: 16pt;
  color:#FC6F06;
  text-decoration:none;
  
}

.navbar a:link {
  text-decoration:none;
  color: white;
}

.text-motivation{
  font-family: Montserrat; 
  font-size: 24pt;
  color:white; 
  margin: 6px; 
}

.text-motivation2{
  font-family: Montserrat; 
  font-size: 40pt;
  color:black; 
  margin: 6px; 
}

.text-motivation3{
  font-family: Montserrat; 
  font-size: 15pt;
  color:gray; 
  margin: 6px; 
}

.text-motivation4{
  font-family: Montserrat; 
  font-size: 15pt;
  color:#FC6F06;
  margin: 6px; 
}

.text-motivation5{
  font-family: Montserrat; 
  font-size: 13pt;
  color:gray; 
  margin: 6px; 
}

.text-motivation6{
  font-family: Montserrat; 
  font-size: 25pt;
  color:white;
}

.text-motivation7{
  font-family: Montserrat; 
  font-size: 25pt;
  color:#FC6F06;

}

.text-motivation8{
  font-family: Montserrat; 
  font-size: 14pt;
  color:white;
}

.text-motivation9{
  font-family: Montserrat; 
  font-size: 15pt;
  color: #5202C4;
}

.text-motivation10{
  font-family: Montserrat; 
  font-size: 12pt;
  color:rgb(92, 91, 94) ; 
  margin: 6px; 
}

.text-motivation11{
  font-family: Montserrat; 
  font-size: 15pt;
  color: #5202C4; 
  margin: 6px; 
}

.text-motivation12{
  font-family: Montserrat; 
  font-size: 40pt;
  color:#FC6F06; 
  margin: 6px; 
}

.btn-more-info{
  font-family: Montserrat; 
  font-size: 24pt;
  color: white; 
  background-color: #5202C4;
  
}

.text-crossfigther{
  
  font-family: Montserrat;
  font-size: 40pt;
  color:#FC6F06;
}

.text-crossfigther-reverse{
  
  font-family: Montserrat;
  font-size: 40pt;
  color:black;
}


.redondeado {
  border-radius: 5px;
}
.confondo {
  background-color: #def;
}
.sinborde {
  border: 0;
}
.sinbordefondo {
  background-color: #eee;
  border: 0;
}
.outlinenone {
  font-family: 'Arial Narrow', Arial, sans-serif;
  outline: none;
  background-color: rgba(218, 214, 255, 0.61);
  border: 0;
  font-size: 20pt;
}
.redondeadonorelieve {
  border-radius: 5px;
  border: 1px solid #39c;
}

.text-plus{
  font-family: Montserrat; 
  font-size: 25pt;
  color:#FC6F06;
}

.text-button{
  font-family: Montserrat; 
  font-size: 18pt;
  color:white; 
}

.form-control{
  height: 60px!important;
  }